<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tipos de Inventario</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
                    <li class="breadcrumb-item active">Tipos de Inventario</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="creando=true;" data-toggle="modal"
                    data-target="#modal-default"><i class="fa fa-plus"></i>&nbsp;&nbsp; Nuevo Tipo de Inventario</button>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Tipos de Inventario</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" class="table row-border hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Tipo de Inventario</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tipoInventario of tiposInventario">
                                    <td>{{tipoInventario.tipoInventarioId}}</td>
                                    <td>{{tipoInventario.descripcion}}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button (click)="editar(tipoInventario)" type="button" class="btn btn-warning" data-toggle="modal"
                                            data-target="#modal-default">
                                                <i class="fas fa-edit" ></i>
                                            </button>
                                            <button (click)="eliminar(tipoInventario.tipoInventarioId)" type="button" class="btn btn-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default"  data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off" id="formulario" (ngSubmit)="submit(formulario)"
                    #formulario="ngForm">
                    <div class="modal-header">
                        <h4 class="modal-title">{{creando?'Nuevo':'Editando'}} Tipo de Inventario</h4>
                        <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputDescripcion">Tipo de Inventario</label>
                            <input [class.is-invalid]="TipoInventario.invalid && TipoInventario.touched" type="text"
                                #TipoInventario="ngModel" [(ngModel)]="tipoInventario.descripcion" name="TipoInventario" id="inputDescripcion"
                                class="form-control" placeholder="Ingrese Tipo de Inventario" required>
                            <span *ngIf="TipoInventario.invalid && TipoInventario.touched " class="error-custom">Ingrese
                                Tipo de Inventario</span>
                        </div>
                        
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()"> Cerrar</button>
                        <button type="submit" [disabled]="formulario.invalid " class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;
                            Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
