/* You can add global styles to this file, and also import other style files */
.error-custom{
    color: #dd3545;
    font-size: 14px;
}

.dataTables_length{
    padding-left: 20px;
    padding-top: 20px;
    /* margin-left: 20px; */
}
.dataTables_filter{
    padding-right: 20px;
    padding-top: 20px;
}
.dataTables_info{
    padding-left: 20px;
    padding-bottom: 20px;
}
.dataTables_paginate{
    padding-right: 20px;
    /* padding-bottom: 20px; */
}